@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

html, body {
  color: black;
  background: white;
  height: 100%;
  width: 100%;
}

button, a {
  transition: all ease .5s;
}
